<div class="copyrights">
  <div class="container">
    <div class="clearfix">
      <div class="pull-left">
        <div class="cop-logo">
          <a href="#"><img src="images/logo.png" alt=""></a>
        </div>
      </div>

      <div class="pull-right">
        <div class="footer-links">
          <ul class="list-inline">
            <li>Diseñado y desarrollado por : <a href="#">Ginebra ^^</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div><!-- end container -->
</div><!-- end copy -->