<div class="copyrights" id="copyrights">
  <div class="container">
    <div class="clearfix">
      <div class="pull-left">
        <div class="cop-logo">
          <a href="#"><img src="images/logo.png" alt=""></a>
        </div>
      </div>

      <div class="pull-right">
        <div class="footer-links">
          <ul class="list-inline">
            <li>Diseñado y desarrollado por : <a>
              <span class="rainbow1">G</span>
              <span class="rainbow2">i</span>
              <span class="rainbow3">n</span>
              <span class="rainbow4">e</span>
              <span class="rainbow5">b</span>
              <span class="rainbow6">r</span>
              <span class="rainbow7">a</span>
              <span class="rainbow8">^</span>
              <span class="rainbow9">^</span>
            </a></li>
          </ul>
        </div>
      </div>
    </div>
  </div><!-- end container -->
</div><!-- end copy -->