<section class="section" id="formlist">
  <div class="container">
    <div class="row">

      <div class="col-md-4">
        <div class="custom-module entry">
          <img src="upload/formlist.jpg" alt="" class="img-responsive wow slideInLeft img-center img-border">
          <div class="magnifier">
            <a rel="prettyPhoto[formlist]" href="upload/formlist.jpg" title=""><i class="fa fa-eye"></i></a>
            <a rel="prettyPhoto[formlist]" href="/upload/video_sesion.mp4?iframe=true&width=500&height=344" title=""></a>
            <a rel="prettyPhoto[formlist]" href="https://www.youtube.com/watch?v=lirVyWRk3bQ" title=""></a>
          </div>
        </div>
      </div>
      <div class="col-md-8 overlay-manual">
        <div class="custom-module">
          <h2>¡Hola Tribu! 👽 Reservad el <mark>Sábado 7 de marzo</mark> porque ya tenemos fecha para Pragma</h2>
          <p>Tendremos a un artistazo invitado que viene desde Barcelona y no es otro que el gran Chik'M (Another Psyde Records). Ya pasó por PRAGMA la temporada pasada y estábamos deseando volver a tenerle con nosotros 🤩👏 Lleva ya casi 20 años a los platos y es adorado por todos y todas 💜, ¿cómo no? Es una de la referencias de nuestro país en el maravilloso mundo del #darkprog, #zenonesque y #psytechno. ¡Sus sets son todo un regalo para los oídos! 🤤⁠ Lo podéis comprobar <a href="https://soundcloud.com/chikm">aquí</a></p>
          <p>También contaremos con nuestro gran amigo Lucas (Furthur), quién se encargará de abrir la noche con uno de sus míticos pero siempre sorprendetes opening sets. ¡Puro groove en cabina! 😎⁠</p>

          <hr class="invis">

          <form class="form-horizontal">
            <h3>Pide tus listas</h3>
            <div class="form-group">
              <div class="col-sm-10 col-xs-9">
                <label>De 00h a 02h • 10€ con 1 COPA o 2 CERVEZAS/refrescos • 15€ con 2 COPAS</label>
              </div>
              <div class="col-sm-2 col-xs-3">
                <select class="form-control form-control-lg">
                  <option>0</option><option>1</option><option>2</option><option>3</option><option>4</option><option>5</option><option>6</option><option>7</option><option>8</option><option>9</option><option>10</option>
                </select>
              </div>
            </div>
            <div class="form-group">
              <div class="col-sm-10 col-xs-9">
                <label>De 02h a 03h • 12€ con 1 COPA • 15€ con 2 COPAS</label>
              </div>
              <div class="col-sm-2 col-xs-3">
                <select class="form-control form-control-lg">
                  <option>0</option><option>1</option><option>2</option><option>3</option><option>4</option><option>5</option><option>6</option><option>7</option><option>8</option><option>9</option><option>10</option>
                </select>
              </div>
            </div>
            <div class="form-group">
              <div class="col-sm-10 col-xs-9">
                <label> De 03h al CIERRE • 12€ con 1 COPA</label>
              </div>
              <div class="col-sm-2 col-xs-3">
                <select class="form-control form-control-lg">
                  <option>0</option><option>1</option><option>2</option><option>3</option><option>4</option><option>5</option><option>6</option><option>7</option><option>8</option><option>9</option><option>10</option>
                </select>
              </div>
            </div>
            <div class="form-group">
              <div class="col-sm-2 col-xs-2">
                <label>Email</label>
              </div>
              <div class="col-sm-10 col-xs-10">
                <input type="email" class="form-control" id="email" placeholder="alguien@algo.com" required>
              </div>
            </div>
            <br>
            <div class="form-group">
              <div class="col-sm-12 formlist-button">
                <button type="submit" class="btn btn-primary">Pedir listas</button>
              </div>
            </div>
          </form>

        </div>
      </div>
    </div>
  </div>
</section>
