<section class="section gb" id="past_sessions">
  <div class="container">
    <div class="section-title text-center">
      <h3>Sesiones Pasadas</h3>
      <p>Maecenas sit amet tristique turpis. Quisque porttitor eros quis leo pulvinar, at hendrerit sapien iaculis. Donec consectetur accumsan arcu, sit amet fringilla ex ultricies.</p>
    </div><!-- end title -->

    <div id="owl-01" class="owl-carousel owl-theme owl-theme-01">
      <div class="caro-item">
        <div class="course-box">
          <div class="image-wrap entry">
            <img src="upload/ps_1.jpg" alt="" class="img-responsive">
            <div class="magnifier">
              <a rel="prettyPhoto[inline1]" href="https://www.youtube.com/watch?v=lirVyWRk3bQ" title=""><i class="flaticon-add"></i></a>
              <a rel="prettyPhoto[inline1]" href="/upload/video_sesion.mp4?iframe=true&width=90%&height=90%" title=""><i class="flaticon-add"></i></a>
            </div>
          </div><!-- end image-wrap -->
          <div class="course-details">
            <h4>
              <small>Pragma</small>
              <a href="#" title="">Modern JavaScript Linting With ESLint</a>
            </h4>
            <p>Fusce interdum, elit sit amet vehicula malesuada, eros libero elementum orci.</p>
          </div><!-- end details -->
          <div class="course-footer clearfix">
            <div class="pull-left">
              <ul class="list-inline">
                <li><a href="#"><i class="fa fa-user"></i> 21</a></li>
                <li><a href="#"><i class="fa fa-clock-o"></i> 15 Min.</a></li>
              </ul>
            </div><!-- end left -->

            <div class="pull-right">
              <ul class="list-inline">
                <li><a href="#">$22.00</a></li>
              </ul>
            </div><!-- end left -->
          </div><!-- end footer -->
        </div><!-- end box -->
      </div><!-- end col -->

      <div class="caro-item">
        <div class="course-box">
          <div class="image-wrap entry">
            <img src="upload/ps_2.jpg" alt="" class="img-responsive">
            <div class="magnifier">
              <a rel="prettyPhoto[inline]" href="upload/ps_2.jpg" title=""><i class="flaticon-add"></i></a>
            </div>
          </div><!-- end image-wrap -->
          <div class="course-details">
            <h4>
              <small>Kream</small>
              <a href="#" title="">Designing Game UI Assets in Adobe Illustrator</a>
            </h4>
            <p>Curabitur condimentum velit non odio mattis tristique. Nam vitae orci aliquam. </p>
          </div><!-- end details -->
          <div class="course-footer clearfix">
            <div class="pull-left">
              <ul class="list-inline">
                <li><a href="#"><i class="fa fa-user"></i> 41</a></li>
                <li><a href="#"><i class="fa fa-clock-o"></i> 33 Min.</a></li>
              </ul>
            </div><!-- end left -->

            <div class="pull-right">
              <ul class="list-inline">
                <li><a href="#">$55.00</a></li>
              </ul>
            </div><!-- end left -->
          </div><!-- end footer -->
        </div><!-- end box -->
      </div><!-- end col -->

      <div class="caro-item">
        <div class="course-box">
          <div class="image-wrap entry">
            <img src="upload/ps_3.jpg" alt="" class="img-responsive">
            <div class="magnifier">
              <a rel="prettyPhoto[inline]" href="upload/ps_3.jpg" title=""><i class="flaticon-add"></i></a>
            </div>
          </div><!-- end image-wrap -->
          <div class="course-details">
            <h4>
              <small>Kream</small>
              <a href="#" title="">Designing Game UI Assets in Adobe Illustrator</a>
            </h4>
            <p>Curabitur condimentum velit non odio mattis tristique. Nam vitae orci aliquam. </p>
          </div><!-- end details -->
          <div class="course-footer clearfix">
            <div class="pull-left">
              <ul class="list-inline">
                <li><a href="#"><i class="fa fa-user"></i> 41</a></li>
                <li><a href="#"><i class="fa fa-clock-o"></i> 33 Min.</a></li>
              </ul>
            </div><!-- end left -->

            <div class="pull-right">
              <ul class="list-inline">
                <li><a href="#">$55.00</a></li>
              </ul>
            </div><!-- end left -->
          </div><!-- end footer -->
        </div><!-- end box -->
      </div><!-- end col -->

      <div class="caro-item">
        <div class="course-box">
          <div class="image-wrap entry">
            <img src="upload/ps_4.jpg" alt="" class="img-responsive">
            <div class="magnifier">
              <a rel="prettyPhoto[inline]" href="upload/ps_4.jpg" title=""><i class="flaticon-add"></i></a>
            </div>
          </div><!-- end image-wrap -->
          <div class="course-details">
            <h4>
              <small>PHP Coding</small>
              <a href="#" title="">How to Become a Web Developer: Learn PHP</a>
            </h4>
            <p>Donec auctor nec nibh sit amet pulvinar. Mauris nulla elit, lacinia ac facilisis mattis.</p>
          </div><!-- end details -->
          <div class="course-footer clearfix">
            <div class="pull-left">
              <ul class="list-inline">
                <li><a href="#"><i class="fa fa-user"></i> 35</a></li>
                <li><a href="#"><i class="fa fa-clock-o"></i> 1 Hrs.</a></li>
              </ul>
            </div><!-- end left -->

            <div class="pull-right">
              <ul class="list-inline">
                <li><a href="#">$51.00</a></li>
              </ul>
            </div><!-- end left -->
          </div><!-- end footer -->
        </div><!-- end box -->
      </div><!-- end col -->

      <div class="caro-item">
        <div class="course-box">
          <div class="image-wrap entry">
            <img src="upload/ps_5.jpg" alt="" class="img-responsive">
            <div class="magnifier">
              <a rel="prettyPhoto[inline]" href="upload/ps_5.jpg" title=""><i class="flaticon-add"></i></a>
            </div>
          </div><!-- end image-wrap -->
          <div class="course-details">
            <h4>
              <small>PHP Coding</small>
              <a href="#" title="">How to Build a Custom Theme for Drupal 8</a>
            </h4>
            <p>Pellentesque ut enim dictum, interdum lorem eget, vulputate eros sed felis euismod.</p>
          </div><!-- end details -->
          <div class="course-footer clearfix">
            <div class="pull-left">
              <ul class="list-inline">
                <li><a href="#"><i class="fa fa-user"></i> 35</a></li>
                <li><a href="#"><i class="fa fa-clock-o"></i> 45 Min.</a></li>
              </ul>
            </div><!-- end left -->

            <div class="pull-right">
              <ul class="list-inline">
                <li><a href="#">$51.00</a></li>
              </ul>
            </div><!-- end left -->
          </div><!-- end footer -->
        </div><!-- end box -->
      </div><!-- end col -->

      <div class="caro-item">
        <div class="course-box">
          <div class="image-wrap entry">
            <img src="upload/ps_6.jpg" alt="" class="img-responsive">
            <div class="magnifier">
              <a rel="prettyPhoto[inline]" href="upload/ps_6.jpg" title=""><i class="flaticon-add"></i></a>
            </div>
          </div><!-- end image-wrap -->
          <div class="course-details">
            <h4>
              <small>Javascript</small>
              <a href="#" title="">Modern JavaScript Linting With ESLint</a>
            </h4>
            <p>Fusce interdum, elit sit amet vehicula malesuada, eros libero elementum orci.</p>
          </div><!-- end details -->
          <div class="course-footer clearfix">
            <div class="pull-left">
              <ul class="list-inline">
                <li><a href="#"><i class="fa fa-user"></i> 21</a></li>
                <li><a href="#"><i class="fa fa-clock-o"></i> 15 Min.</a></li>
              </ul>
            </div><!-- end left -->

            <div class="pull-right">
              <ul class="list-inline">
                <li><a href="#">$22.00</a></li>
              </ul>
            </div><!-- end left -->
          </div><!-- end footer -->
        </div><!-- end box -->
      </div><!-- end col -->

    </div><!-- end row -->
  </div><!-- end container -->
</section>
