<section class="section gb" id="past_sessions">
  <div class="container">
    <div class="section-title text-center">
      <h3>Sesiones Pasadas</h3>
      <p>Maecenas sit amet tristique turpis. Quisque porttitor eros quis leo pulvinar, at hendrerit sapien iaculis. Donec consectetur accumsan arcu, sit amet fringilla ex ultricies.</p>
    </div><!-- end title -->

    <div id="owl-01" class="owl-carousel owl-theme owl-theme-01">
      <div class="caro-item">
        <div class="course-box">
          <div class="image-wrap entry">
            <img src="upload/ps_1.jpg" alt="" class="img-responsive">
            <div class="magnifier">
              <a rel="prettyPhoto[inline]" href="upload/ps_1.jpg" title=""><i class="fa fa-eye"></i></a>
            </div>
          </div><!-- end image-wrap -->
          <div class="course-details">
            <a href="https://goo.gl/maps/coQugpfqkdSt4P6g9" target="_blank"><small><i class="fa fa-map-marker"></i>&nbsp;&nbsp;Independance Club</small></a>
            <h4>
              <a href="https://es-es.facebook.com/events/594404307674735/">Kream - Huéznar Festival</a>
            </h4>
            <p>Fusce interdum, elit sit amet vehicula malesuada, eros libero elementum orci.</p>
          </div><!-- end details -->
          <div class="course-footer clearfix">
            <div class="pull-center">
              <p>22 de Febrero 2020, Sábado</p>
            </div>
          </div><!-- end footer -->
        </div><!-- end box -->
      </div><!-- end col -->

      <div class="caro-item">
        <div class="course-box">
          <div class="image-wrap entry">
            <img src="upload/ps_2.jpg" alt="" class="img-responsive">
            <div class="magnifier">
              <a rel="prettyPhoto[inline]" href="upload/ps_2.jpg" title=""><i class="fa fa-eye"></i></a>
            </div>
          </div><!-- end image-wrap -->
          <div class="course-details">
            <a href="https://goo.gl/maps/it7rMN2jS8qYnJAe9" target="_blank"><small><i class="fa fa-map-marker"></i>&nbsp;&nbsp;Ya'sta Club</small></a>
            <h4>
              <a href="https://www.facebook.com/events/d41d8cd9/pragma-w-fluoelf/2167742579994943/">Pragma - Fluoelf</a>
            </h4>
            <p>Curabitur condimentum velit non odio mattis tristique. Nam vitae orci aliquam. </p>
          </div><!-- end details -->
          <div class="course-footer clearfix">
            <div class="pull-center">
              <p>8 de Febrero 2020, Sábado</p>
            </div>
          </div><!-- end footer -->
        </div><!-- end box -->
      </div><!-- end col -->

      <div class="caro-item">
        <div class="course-box">
          <div class="image-wrap entry">
            <img src="upload/ps_3.jpg" alt="" class="img-responsive">
            <div class="magnifier">
              <a rel="prettyPhoto[inline]" href="upload/ps_3.jpg" title=""><i class="fa fa-eye"></i></a>
            </div>
          </div><!-- end image-wrap -->
          <div class="course-details">
            <a href="https://goo.gl/maps/coQugpfqkdSt4P6g9" target="_blank"><small><i class="fa fa-map-marker"></i>&nbsp;&nbsp;Independance Club</small></a>
            <h4>
              <a href="https://es-es.facebook.com/events/kream/kream-iv-aniversario/894357160958033/">Kream - IV Aniversario</a>
            </h4>
            <p>Curabitur condimentum velit non odio mattis tristique. Nam vitae orci aliquam. </p>
          </div><!-- end details -->
          <div class="course-footer clearfix">
            <div class="pull-center">
              <p>16 de Noviembre 2019, Sábado</p>
            </div>
          </div><!-- end footer -->
        </div><!-- end box -->
      </div><!-- end col -->

      <div class="caro-item">
        <div class="course-box">
          <div class="image-wrap entry">
            <img src="upload/ps_4.jpg" alt="" class="img-responsive">
            <div class="magnifier">
              <a rel="prettyPhoto[inline]" href="upload/ps_4.jpg" title=""><i class="fa fa-eye"></i></a>
            </div>
          </div><!-- end image-wrap -->
          <div class="course-details">
            <a href="https://goo.gl/maps/coQugpfqkdSt4P6g9" target="_blank"><small><i class="fa fa-map-marker"></i>&nbsp;&nbsp;Independance Club</small></a>
            <h4>
                <a href="https://www.facebook.com/events/kream/kream-presents-own-spirit-festival-2019/371867046949372/">Kream - Own spirit</a>
            </h4>
            <p>Donec auctor nec nibh sit amet pulvinar. Mauris nulla elit, lacinia ac facilisis mattis.</p>
          </div><!-- end details -->
          <div class="course-footer clearfix">
            <div class="pull-center">
              <p>19 de Octubre 2019, Sábado</p>
            </div>
          </div><!-- end footer -->
        </div><!-- end box -->
      </div><!-- end col -->

        <div class="caro-item">
        <div class="course-box">
          <div class="image-wrap entry">
            <img src="upload/ps_5.jpg" alt="" class="img-responsive">
            <div class="magnifier">
              <a rel="prettyPhoto[inline]" href="upload/ps_5.jpg" title=""><i class="fa fa-eye"></i></a>
            </div>
          </div><!-- end image-wrap -->
          <div class="course-details">
            <a href="https://goo.gl/maps/it7rMN2jS8qYnJAe9" target="_blank"><small><i class="fa fa-map-marker"></i>&nbsp;&nbsp;Ya'sta Club</small></a>
            <h4>
              <a href="https://es-es.facebook.com/events/520339452156839/">Kream - Happy Psy Year</a>
            </h4>
            <p>Pellentesque ut enim dictum, interdum lorem eget, vulputate eros sed felis euismod.</p>
          </div><!-- end details -->
          <div class="course-footer clearfix">
            <div class="pull-center">
              <p>31 de Diciembre 2019, Martes</p>
            </div>
          </div><!-- end footer -->
        </div><!-- end box -->
      </div><!-- end col -->

      <div class="caro-item">
        <div class="course-box">
          <div class="image-wrap entry">
            <img src="upload/ps_6.jpg" alt="" class="img-responsive">
            <div class="magnifier">
              <a rel="prettyPhoto[inline]" href="upload/ps_6.jpg" title=""><i class="fa fa-eye"></i></a>
            </div>
          </div><!-- end image-wrap -->
          <div class="course-details">
            <a href="https://goo.gl/maps/coQugpfqkdSt4P6g9" target="_blank"><small><i class="fa fa-map-marker"></i>&nbsp;&nbsp;Independance Club</small></a>
            <h4>
              <a href="https://es-es.facebook.com/events/2678522885542930/">Kream - 14 12</a>
            </h4>
            <p>Fusce interdum, elit sit amet vehicula malesuada, eros libero elementum orci.</p>
          </div><!-- end details -->
          <div class="course-footer clearfix">
            <div class="pull-center">
              <p>14 de Diciembre 2019, Sábado</p>
            </div>
          </div><!-- end footer -->
        </div><!-- end box -->
      </div><!-- end col -->

    </div><!-- end row -->
  </div><!-- end container -->
</section>
