<section class="section db p120">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="tagline-message text-center">
          <h3>Howdy, we are Edulogy, we have brought together the best quality services, offers, projects for you!</h3>
        </div>
      </div><!-- end col -->
    </div><!-- end row -->
  </div><!-- end container -->
</section><!-- end section -->
