<section class="section db">
  <div class="container">
    <div class="row">
      <div class="col-lg-4 col-md-4">
        <div class="stat-count">
          <h4 class="stat-timer">1230</h4>
          <h3><i class="flaticon-black-graduation-cap-tool-of-university-student-for-head"></i> Happy Students</h3>
          <p>Quisque porttitor eros quis leo pulvinar, at hendrerit sapien iaculis. </p>
        </div><!-- stat-count -->
      </div><!-- end col -->

      <div class="col-lg-4 col-md-4">
        <div class="stat-count">
          <h4 class="stat-timer">331</h4>
          <h3><i class="flaticon-online-course"></i> Course Done</h3>
          <p>Quisque porttitor eros quis leo pulvinar, at hendrerit sapien iaculis. </p>
        </div><!-- stat-count -->
      </div><!-- end col -->

      <div class="col-lg-4 col-md-4">
        <div class="stat-count">
          <h4 class="stat-timer">8901</h4>
          <h3><i class="flaticon-coffee-cup"></i> Ordered Coffe's</h3>
          <p>Quisque porttitor eros quis leo pulvinar, at hendrerit sapien iaculis. </p>
        </div><!-- stat-count -->
      </div><!-- end col -->
    </div><!-- end row -->
  </div><!-- end container -->
</section>
